@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@keyframes scaleIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@theme {
  --color-test: red;
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;

  --font-display: "Inter", sans-serif;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

body { font-family: 'Inter', sans-serif; }
.glass { background: rgba(255, 255, 255, 0.03); backdrop-filter: blur(10px); }
.border-subtle { border: 1px solid rgba(255, 255, 255, 0.1); }

.animate-scale { animation: scaleIn 0.3s ease-out; }